VaccMe/node_modules/**/*
VaccMe/.expo/*
VaccMe/npm-debug.*
VaccMe/*.jks
VaccMe/*.p8
VaccMe/*.p12
VaccMe/*.key
VaccMe/*.mobileprovision
VaccMe/*.orig.*
VaccMe/web-build/

# macOS
VaccMe/.DS_Store
.DS_Store
